body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(21, 16, 25);
    color:white;
}

.header {
  background: url("/assets/media/1567666.png") center/cover no-repeat;
}

.type-color {
  color:yellow;
}
.profile-pic {
    border-radius: 50%;
    border: 3px solid rgb(111, 160, 205);
}


.about-me-content {
  float: left;
  width: 60%;
}

.about-me-paragraph {
  list-style: none;
  padding: 0;
}

.about-me-paragraph li {
  margin-bottom: 20px;
  line-height: 1.6;
}

.skills-container {
  padding-left:50px;
  float: right;
  width: 40%;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.font {
  padding-left:2px;
}

.icon {
  margin-right: 10px;
}
  
  .contact form {
    /* Add styling for the contact form */
  }
  
